<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.time_zone.tbib_get_timezone_location">
   <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <!-- Include only if your app benefits from precise location access. -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
